body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

a:hover {
    cursor: pointer;
}

body {
    background-color: #eee;
}

nav.ui.top.attached.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 72px;
}

nav.ui.top.attached.menu,
nav.ui.top.attached.menu .ui.right.menu {
    border: none !important;
    border-radius: 0px !important;
}

nav.ui.top.attached.menu,
nav.ui.top.attached.menu .ui.right.menu,
.ui.top.attached.header {
    background-color: darkslateblue !important;
}

nav.ui.top.attached.menu .ui.header,
nav.ui.top.attached.menu .ui.menu .item,
nav.ui.top.attached.menu .ui.right.menu .item,
.ui.top.attached.header {
    color: #eee;
}

main {
    margin-top: 72px;
}

.ui.container {
    width: 90%;
}

#code-modal.ui.modal {
    width: 90%;
    max-height: 90%;
}

#code-modal.ui.modal,
#code-modal.ui.modal .scrolling.content {
    padding: 0;
}

#code-modal.ui.modal .scrolling.content {
    max-height: calc(90vh);
}

#code-modal.ui.modal .scrolling.content pre {
    margin: 0;
}